<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Administrator</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>
  <h1>To Delete All Booked Passengers</h1>
  <h1>Click Button Below!!</h1>

  <form action="/deletion" method="post">
    <fieldset>
      

      <input type="submit" value="DELETE ALL PASSENGERS">
    </fieldset>

    <br>
    <br>
    <hr>
    <a href = "/">HOME</a>
  </form>

  <br>

</body>

</html>
