<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Ticket</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>
  <h1>Here is your booking:</h1>

  <strong>Passenger Name: </strong> <%- name %><br>
  <strong>Passenger Seat: </strong> <%- seatNumber %> <br>
  <strong>Passenger UID: </strong> <%- uid %>

  <br>
  <br>
  <hr>
  <a href = "/">HOME</a>

</body>

</html>