<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Verify your booking</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>
  <h1>Verify your booking</h1>

  <form action="/submitPayment" method="post">
    <fieldset>

      <!-- <label>UID: <input type="number" name="uid" required min = "100000000" max = "999999999" title="Enter a valid UID" /></label> -->
      <label>UID: <input type="text" name="uid" title="Enter a valid UID" maxlength = "9"></label>

      <input type="submit" value="Submit">
    </fieldset>

    <br>
    <br>
    <hr>
    <a href = "/">HOME</a>
  </form>

  <br>

</body>

</html>
