<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Terrapin Commuter Bus</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>

<body>
    

	<h1>Welcome to The Summer Break Transportation Bus!</h1>

    <h2>All Buses Depart From UMD Lot 11 at 3:30PM on May 20th!<br>Final Destination: Washington D.C, Union Station</h2>

    <form action="/index" method="post">

        <legend>
            <strong>You must be a UMD student to ride this bus!</strong>
        </legend>
        <fieldset>
            <a href="/seatSelector">Click here to reserve a seat!</a>
		</fieldset>
        <hr>

        <br>

        <fieldset>
            <a href = "/fillPayInfo">Click here to view your bus ticket!</a>
        </fieldset>
    </form>

    <hr>

    <br>
    
</body>

</html>