<!DOCTYPE html>
<html>
  <head>
    <title>Seat Taken</title>
  </head>
  <body>
    <h1>Seat taken or invalid input. Please select an open seat and do not book if you have already.</h1>
    <a href="/seatSelector">Go back to seat selection</a>
  </body>
</html>
